* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: antiquewhite;
  padding-top: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

nav ul li.hot {
  position: relative;
}

nav ul li.hot::before {
  content: "HOT ";
  background-color: red;
  color: white;
  position: absolute;
  top: -15px;
  right: -20px;
  border-radius: 2px;
  /* padding: 1px; */
}

.right {
  display: flex;
  align-items: center;
  gap: 30px;
  /* Отступ между всеми элементами внутри */
}

/* .right .fa-magnifying-glass{position: absolute; left: 2px;}

.right input {
  width: 100%;
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px ;
} */


.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 10px 10px 10px 10px;
  /* отступ слева для иконки */
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  width: 100%;
  padding-right: 30px;
}

.search-box i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #666;
}

.right .button {
  background-color: rgb(28, 104, 219);
  color: white;
  border-radius: 25px;
  padding: 10px 30px;
}

.icon {
  position: relative;
}

.icon::before {
  position: absolute;
  content: "+2";
  top: -15px;
  right: -10px;
  background-color: aqua;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 3px;
}

.icon {
  color: rgba(0, 0, 0, 0.808);
  border: 1px solid;
  border-radius: 100%;
  padding: 6px;
}

nav ul li a {
  color: black;
}

main {
  background-color: #C8EBFF;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 0px; */
}

.text {
  padding-left: 100px;
}

.first {
  font-size: 50px;
  color: blue;
}

.second {
  background-color: rgb(28, 104, 219);
  color: white;
  border-radius: 25px;
  padding: 10px 30px;
  ;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.card {
  border: 1px solid;
  width: 220px;
  height: 200px;
  border: none;
}

.card p i {
  font-size: 35px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info p {
  border: 1px solid;
  width: 200px;
  height: 60px;
  border: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a i {
  color: black;
}

.links {
  display: flex;
  gap: 20px;
}

.contact ul li a {
  color: #847f8b;
}

.info p {
  color: #847f8b
}

.bottom p {
  color: #847f8b
}

.card .grey {
  color: #847f8b
}